* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.App {
  font-family: sans-serif;
  text-align: center;
}

.iphone {
  width: 100%;
  overflow: hidden;
  margin-bottom: 20px;
  /* margin-bottom: 100px;
  margin-left: 50px;
  width: 379px;
  height: 812px;
  border: 2px solid #f00; */
}

.slider {
  width: 100%;
  /* transform: translate(-100px, 0); */
}

.slider-holder {
  width: 100%;
  display: flex;

  /* transform: translate(-100px, 0); */
}

.slide {
  display: block;
  width: 85%;
  min-width: 85%;
  overflow: hidden;
  padding: 0 2%;
  /* background: #aaa; */
  /* border: 1px solid #00f; */
}

.slide[visible="true"] .slide-div {
  background-image: url();
}

.slide-div {
  position: relative;
}

.slide-img {
  width: 100%;
  background: url(images/bg.jpg) no-repeat center center;
}

.slide-num {
  color: white;
  font-size: 80px;
  line-height: 200px;
  user-select: none; /* supported by Chrome and Opera */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
}

.btn-holder {
  position: absolute;
  margin: 20px;
}

.btn-holder button {
  width: 90px;
  height: 30px;
}
